body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.my-custom-crossmint-button {
  background-color: grey;
  border-color: white;
  border-radius: 3ex;
  color: black;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
}

.crossmintParagraph-0-2-3.crossmintParagraph-d3-0-2-7 {
  visibility: hidden;
}
.crossmintParagraph-0-2-3.crossmintParagraph-d3-0-2-7:after {
  content: 'Mint Packs with Card';
  visibility: visible;
  display: block;
  position: absolute;
  color: white;
  margin-top: -2.2ex;
  margin-left: -0.5ex;
}

.crossmintParagraph-0-2-3.crossmintParagraph-d7-0-2-11 {
  visibility: hidden;
}

.crossmintParagraph-0-2-3.crossmintParagraph-d7-0-2-11:after {
  content: 'Mint Packs with ETH';
  visibility: visible;
  display: block;
  position: absolute;
  color: white;
  margin-top: -2.2ex;
  margin-left: -0.5ex;
}